<a href="https://colab.research.google.com/github/MicahLessnick/SilicateRegressor/blob/main/SilicateEstuaryLR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Written by Micah Lessnick

Logistic regressor to classify sampling location based on measured Si values

Mount code to google drive

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

Import packages

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn.datasets
import sklearn.metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from tensorflow import keras
from sklearn.linear_model import LogisticRegression

Import dataset

In [ ]:
whole_df = pd.read_csv('/content/gdrive/MyDrive/CPO/SiDataFull.csv')
whole_df

             Si  Class
0     -0.587201      1
1     -0.587201      1
2     -0.587201      1
3     -0.587201      1
4     -0.587201      1
...         ...    ...
24146 -0.829621      2
24147 -0.829739      2
24148 -0.829798      2
24149 -0.829798      2
24150 -0.830094      2

[24151 rows x 2 columns]

Separate label from data

In [ ]:
whole_target_df = whole_df.drop('Si', axis=1)
whole_target_df #df holding all class labels

whole_data_df = whole_df.drop('Class', axis=1)
whole_data_df #df holding only raw data values

             Si
0     -0.587201
1     -0.587201
2     -0.587201
3     -0.587201
4     -0.587201
...         ...
24146 -0.829621
24147 -0.829739
24148 -0.829798
24149 -0.829798
24150 -0.830094

[24151 rows x 1 columns]

Prep training and test sets

In [ ]:
train_data, test_data, train_target, test_target = train_test_split(
    whole_data_df, whole_target_df, train_size=0.8, random_state=17
) #split into 80% training, 20% testing set

Reset random number seeds (ensures repeatable results)

In [ ]:
np.random.seed(17)
tf.random.set_seed(17)

Build/run regressor

In [ ]:
log_reg = LogisticRegression(solver="lbfgs", random_state=17)
log_reg.fit(train_data, train_target)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=17, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Analyze results

In [ ]:
pred = log_reg.predict(test_data)
conf = sklearn.metrics.confusion_matrix(test_target, pred)
print("Silicate Regressor:")
print(conf)

print("\nClassification report:")
print(sklearn.metrics.classification_report(test_target, pred, target_names=("Open ocean", "Estuary")))

print("\nF1 score of the model:")
print(sklearn.metrics.f1_score(test_target, pred))

Silicate Regressor:
[[3043    0]
 [1788    0]]

Classification report:
              precision    recall  f1-score   support

  Open ocean       0.63      1.00      0.77      3043
     Estuary       0.00      0.00      0.00      1788

    accuracy                           0.63      4831
   macro avg       0.31      0.50      0.39      4831
weighted avg       0.40      0.63      0.49      4831


F1 score of the model:
0.7729235458470917

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Model cannot classify environment using silicate concentration alone. Additional factors (other nutrients, salinity, flow rate, etc...) may provide better insite but silicate levels at the surface are too similar